In [1]:
# Introduction to python.

# Introduction to variable in python.

In [2]:
name='mohit'
print(name)

mohit

In [3]:
# What is variable?

# Variables are nothing but the value holders.

In [4]:
# Rules for declaring the varaiable.

#1. There should be no spaces while declaring the variable.

#2. variable should not start with the number.

#3. Variable should not contain any special character.

In [5]:
name='mohit'
print(name)

mohit

In [6]:
# Introduction to Data Types.

# String --- str
# Numbers --- Integer -- int
#             Float -- float.
# List --- list
# Tuple --- tuple
# Dictionary --- dict.

In [7]:
# Classification of data types.

# Data types are classified in two ways.

#1. Mutable (flexible) - it can be change or alter after.

#2. Immutable (fixed) - it cant be change once it is declared.

In [8]:
# Introduction to string Data type.

#1 String --- Define ---a string is nothing but a series of character enclosed in the quotes.
#2.String is immutable.

# How to define a string?

# String is defined in 3 possible ways.

#1. Single Quote.
#2. Double Quote.
#3. Triple Quote.

In [9]:
#1. Single quote.

name='mohit'
print(name)

mohit

In [10]:
#2. Double quote.

name1="Chandrakant"
print(name1)

Chandrakant

In [11]:
#3. Triple quote.

poem='''Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle little star
How I wonder what you are
When the blazing sun is gone
When he nothing shines upon
Then you show your little light
Twinkle, twinkle, all the night
Twinkle, twinkle, little star
How I wonder what you are'''
print(poem)

Twinkle, twinkle, little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle little star
How I wonder what you are
When the blazing sun is gone
When he nothing shines upon
Then you show your little light
Twinkle, twinkle, all the night
Twinkle, twinkle, little star
How I wonder what you are

In [37]:
# Introduction to list data type.

# A list is a collection of item in a particular order enclosed within [].

# List is mutable.

In [38]:
li=['mohit', 'rohit', 'aniket', 'nakul', 'aman', 'abhi', 'saurabh' ]
print(li)

['mohit', 'rohit', 'aniket', 'nakul', 'aman', 'abhi', 'saurabh']

In [39]:
type(li)

list

In [41]:
# Now how to access the elements from the above list.

# Introduction to indexing.

# What is indexing?

# In backend indexing means to assign the values to the variable.

# So how it starts?

# 0,1,2,3,4,5,6

In [42]:
li=['mohit', 'rohit', 'aniket', 'nakul', 'aman', 'abhi', 'saurabh' ]
print(li)

['mohit', 'rohit', 'aniket', 'nakul', 'aman', 'abhi', 'saurabh']

In [48]:
# Now i want to print the variable of position 3.

print(li[3].upper())
print(li[2].title())
print(li[5].lower())

NAKUL
Aniket
abhi

In [74]:
li=['mohit, rohit, aniket, nakul, aman, abhi, saurabh']

In [53]:
print(li[0])

mohit, rohit, aniket, nakul, aman, abhi, saurabh

In [73]:
li='[mohit, rohit, aniket, nakul, aman, abhi, saurabh]'
print(li)
print(li.upper())
print(li.title())

[mohit, rohit, aniket, nakul, aman, abhi, saurabh]
[MOHIT, ROHIT, ANIKET, NAKUL, AMAN, ABHI, SAURABH]
[Mohit, Rohit, Aniket, Nakul, Aman, Abhi, Saurabh]

In [69]:
print(li[1].title(),li[3].upper(),li[2].upper())
print(li[6])

M H O
,

In [65]:
print(li[8])
print(li[23])

r
n

In [75]:
# Now to add new element (charlie)

li=['mohit', 'rohit', 'aniket', 'nakul', 'aman', 'abhi', 'saurabh' ]
print(li)

['mohit', 'rohit', 'aniket', 'nakul', 'aman', 'abhi', 'saurabh']

In [12]:
# introduction to f string.

# f" custom words {place holders}

first = 'mohit'
middle = 'Chandrakant'
last = 'atram'
full_name = f" My name is {first} {middle} {last}"
print(full_name)

 My name is mohit Chandrakant atram

In [13]:
first = 'mohit'
middle = 'Chandrakant'
last = 'atram'
full_name = f" My name is {first} {middle} {last}"
print(full_name.upper())

 MY NAME IS MOHIT CHANDRAKANT ATRAM

In [14]:
first = 'Mohit'
middle = 'Chandrakant'
last = 'atram'
full_name = f" My name is {first.lower()} {middle.upper()} {last.title()}" 
print(full_name)

 My name is mohit CHANDRAKANT Atram

In [15]:
first = 'Mohit'
middle = 'Chandrakant'
last = 'atram'
full_name = f" My name is {first.lower()} {middle.upper()} {last.title()}" 
print(full_name)

 My name is mohit CHANDRAKANT Atram

In [16]:
first = 'Mohit'
middle = 'Chandrakant'
last = 'atram'
mother = 'shaila'
sister = 'bharti'
full_name = f" My name is {first.lower()}   {middle.upper()}   {last.title()} {mother.upper()} {sister.title()}" 
print(full_name)

 My name is mohit   CHANDRAKANT   Atram SHAILA Bharti

In [17]:
# Adding spaces to the string.

fav_fruit="mango orange apple guava pineapple kivi"
print(fav_fruit)

mango orange apple guava pineapple kivi

In [18]:
# New Line delimiter.

fav_fruit="mango \norange \napple \nguava \npineapple \nkivi"
print(fav_fruit)

mango
orange
apple
guava
pineapple
kivi

In [19]:
print('fav_fruit'  '\nmango'  '\norange'  '\napple'  '\nguava'  '\npineapple'  '\nkivi')

fav_fruit
mango
orange
apple
guava
pineapple
kivi

In [20]:
# New tab delimiter

print('fav_fruit'  '\n\tmango'  '\n\t\torange'  '\n\t\t\tapple'  '\n\n\t\tguava'  '\n\n\n\t\tpineapple'  '\nkivi')

fav_fruit
	mango
		orange
			apple

		guava


		pineapple
kivi

In [21]:
# To Eliminate white spaces.

In [23]:
n1='      mohit'
n2='            rohit            '
n3='                       aniket'

print(n1)
print(n2)
print(n3)

      mohit
            rohit
                       aniket

In [ ]:
# To remove the white spaces we use the following method.

#1. lstrip() - To remove the white spaces from the left side.

#2. rstrip() - To remove the white spaces from the right side.

#3. strip() - To remove the white spaces from both side.

In [24]:
n1='      mohit'
n2='            rohit            '
n3='                       aniket'

print(n1)
print(n2)
print(n3)

      mohit
            rohit
                       aniket

In [36]:
print(n1.lstrip().title())
print(n2.rstrip().upper())
print(n3.strip().title())
print(n2.strip().upper())

Mohit
            ROHIT
Aniket
ROHIT

In [7]:
ld=['mohit','rohit','aniket','nakul','aman','abhi','saurabh','charlie']
print(ld)

['mohit', 'rohit', 'aniket', 'nakul', 'aman', 'abhi', 'saurabh', 'charlie']

In [9]:
# Adding New element at the last position.
ld.append('Rahul')
print(ld)

['mohit', 'rohit', 'aniket', 'nakul', 'aman', 'abhi', 'saurabh', 'charlie', 'Rahul']

In [10]:
# Adding element at our choice of position.

print(ld)

['mohit', 'rohit', 'aniket', 'nakul', 'aman', 'abhi', 'saurabh', 'charlie', 'Rahul']

In [11]:
ld.insert(4,'Rambo')
print(ld)

['mohit', 'rohit', 'aniket', 'nakul', 'Rambo', 'aman', 'abhi', 'saurabh', 'charlie', 'Rahul']

In [12]:
# Deleting the element.

print(ld)

['mohit', 'rohit', 'aniket', 'nakul', 'Rambo', 'aman', 'abhi', 'saurabh', 'charlie', 'Rahul']

In [14]:
del ld[5]

print(ld)

['mohit', 'rohit', 'aniket', 'nakul', 'Rambo', 'saurabh', 'charlie', 'Rahul']